<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="css/figura5.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h1><a href = /users/my_profile>FaceBluff</a></h1>
        </div>
        <div class="enlaces">
            <a href="/users/my_profile">Perfil</a>
            <a href="/users/friends">Amigos</a>
            <a href="/question/show">Preguntas</a>
            <a href="/users/login">Desconectar</a>
            <a href=""> <%= puntuacion %> puntos</a>
        </div>
    </header>
    <main>
        <div class="resultados">
            <h2>Resultados de la búsqueda</h2>
            <% usuarios.forEach(function (element) { %>
            <div>
                <img class="fotoBusqueda" src=<%="/users/imagen/"+element.idUsuario%>>
                <a href=<%="/users/profile/" +element.idUsuario %>><%= element.nombre %></a>
                <a href=<%="/users/friends/request_friend/" +element.idUsuario %> class="solicitarAmigo">Solicitar amistad</a>
            </div>
            <% }); %>

        </div>
    </main>
</body>

</html>