<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="css/figura4.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

        <%-include("headerConLogin", {puntuacion:puntuacion}) %>

    <main>
        <div class="solicitudes bloque">
            <h2>Solicitudes de amistad</h2>
            <% listaSolicitudes.forEach(function(element) { %>
            <div>
                <img class="fotoAmigo uno" src=<%="/users/imagen/"+element.idUsuario%>>
                <a href=<%="/users/profile/" +element.idUsuario %> class = "nombre"><%= element.nombre %></a>
                <a href=<%="/users/friends/add_friend/" +element.idUsuario %> class="aceptaAmigo">Aceptar</a>
                <a href=<%="/users/friends/refuse_friend/" +element.idUsuario %> class="rechazaAmigo">Rechazar</a>
            </div>
            <% }); %>
        </div>
        <div class="busqueda bloque">
            <h2>Búsqueda de amigos</h2>
            <div>
                <form method="POST" action="/users/search" class="formulario">
                    <span>Buscar por nombre: </span>
                    <input type="text" name="busqueda">
                    <input type="submit" value="Buscar" class="buscar">
                </form>
            </div>
        </div>
        <div class="amigos bloque">
            <h2>Mis amigos</h2>

            <% listaAmigos.forEach(function(element) { %>
            <div>
                <img class="fotoAmigo uno" src=<%="/users/imagen/"+element.idUsuario%>>
                <a href=<%="/users/profile/" +element.idUsuario %> class = "nombre"><%= element.nombre %></a>
            </div>
            <% }); %>

        </div>

        <div class="Mensaje">
            <p><%=mensaje%></p>
        </div>
    </main>
</body>

</html>