<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="/css/figura9.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <%-include("headerConLogin", {puntuacion:puntuacion}) %>

    <main>
        <div class="contenido">
            <h2 class="pagina">
                <%= pregunta.enunciado %>
            </h2>

            <div class="main">
                <form method="POST"
                    action=<%="/question/answerToOther/"+ pregunta.idPregunta + "/" + amigo.idUsuario %>>
                    <h3>¿Que crees que opina <%= amigo.nombre %>?</h3>
                    <% respuestas.forEach(function(element) { %>
                    <section class="pregunta">
                        <input type="radio" name="seleccion" value="<%= element %>""> <span> <%= element %></span>
                    </section>
                    <% }); %>
                    <input type="submit" value="Responder" class="login">
                </form>
            </div>
        </div>
        <div class="error">
            <p><%=mensaje%></p>
        </div>
    </main>
</body>

</html>