<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="figura4.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h1>FaceBluff</h1>
        </div>
        <div class="enlaces">
            <a href="/users/my_profile">Perfil</a>
            <a href="/users/friends">Amigos</a>
            <a href="/question/show">Preguntas</a>
            <a href="/users/login">Desconectar</a>
            <a href=""> <%= currentUser.puntuacion %></a>
        </div>
    </header>
    <main>
        <div class="solicitudes bloque">
            <h2>Solicitudes de amistad</h2>
            <% for (var solicitud in listaSolicitudes) { %>
            <div>
                <img class="fotoAmigo uno" src="https://elluchador.info/web/wp-content/uploads/2017/05/fb2.jpg">
                <a href=<%="/users/profile/" +solicitud.idUsuario %>><%= solicitud.nombre %></a>
                <a href=<%="/users/friends/add_friend/" +solicitud.idUsuario %> class="aceptaAmigo">Aceptar</a>
                <a href=<%="/users/friends/refuse_friend/" +solicitud.idUsuario %> class="rechazaAmigo">Rechazar</a>
            </div>
            <% } %>
        </div>
        <div class="busqueda bloque">
            <h2>Búsqueda de amigos</h2>
            <div>
                <form method="POST" action="/users/search" class="formulario">
                    <span>Buscar por nombre: </span>
                    <input type="text" name="busqueda">
                    <input type="submit" value="Buscar" class="buscar">
                </form>
            </div>
        </div>
        <div class="amigos bloque">
            <h2>Mis amigos</h2>
            <% for (var amigo in listaAmigos) { %>
            <div>
                <img class="fotoAmigo uno" src="https://elluchador.info/web/wp-content/uploads/2017/05/fb2.jpg">
                <a href=<%="/users/profile/" +amigo.idUsuario %>><%= amigo.nombre %></a>
            </div>
            <% } %>

        </div>
    </main>
</body>

</html>