<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="css/figura2.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h1>FaceBluff</h1>
        </div>
        <div class="enlaces">
                <a href="/users/my_profile">Perfil</a>
                <a href="/users/friends">Amigos</a>
                <a href="/question/show">Preguntas</a>
                <a href="/users/login">Desconectar</a>
                <a href=""> <%= usuario.puntuacion %></a>
        </div>
    </header>
    <main>
        <div class="contenido">
            <h2 class="pagina">
                <%= usuario.nombre %>
            </h2>
            <form method="POST" action="/users/update_user" class="formulario">
                <div class="dato">
                    <div class="tag">Email</div>
                    <div class="input"><input type="text" name="email" value=<%=usuario.email %>></div>
                </div>
                <div class="dato">
                    <div class="tag">Contraseña</div>
                    <div class="input"><input type="password" name="password" value=<%= usuario.password %>></div>
                </div>
                <div class="dato">
                    <div class="tag">Nombre completo</div>
                    <div class="input"><input type="text" name="nombre" value=<%= usuario.nombre %>></div>
                </div>
                <div class="dato">
                    <div class="tag sexo">
                        <span>Sexo</span>
                        <input type="radio" name="sexo" value="hombre"> Hombre
                        <input type="radio" name="sexo" value="mujer"> Mujer
                    </div>
                </div>
                <div class="dato">
                    <div class="tag">Fecha de nacimiento</div>
                    <div class="input"><input type="date" name="fecha" value=<%= usuario.fecha %>></div>
                </div>
                <div class="dato">
                    <div class="tag">Imagen de perfil</div>
                    <div class="input"><input type="file" name="foto"></div>
                </div>
                <input type="submit" value="Modificar usuario" class="login">
            </form>
        </div>

    </main>
</body>

</html>