<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="utf-8" />
    <link href="/css/figura7.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <div class="titulo">
            <h1><a href= /users/my_profile>FaceBluff </a> </h1> </div> <div class="enlaces">
                    <a href="/users/my_profile">Perfil</a>
                    <a href="/users/friends">Amigos</a>
                    <a href="/question/show">Preguntas</a>
                    <a href="/users/login">Desconectar</a>
                    <a href=""> <%= puntuacion %> puntos</a>

                 
        </div>
    </header>
    <main>
        <div class="contenido">
            <h2 class="pagina">
              
            </h2>

            <div class="main">

                <% if(!contestado){  %>
                        <p> No has contestado a la pregunta.</p>
                        <a href=<%="/question/answer/" + pregunta.idPregunta %>>Contesta pregunta</a>
                <% } else{ %>
                         <p> Ya has contestado a esta pregunta</p>
                <% } %>
                <p>Los siguientes amigos han contestado a esta pregunta</p>

                <% listaAmigos.forEach(function(element) { %>
                    <section class="respuestas">
                    <span><%= element %></span>
                    <img class="fotoSolicitud" src="">
                    <a class="aceptaAmigo" href=<%= "/question/answerToOther/" + pregunta.idPregunta + "/" + element %>> Adivinar</a>
                   
                <% }); %>
                <% listaAmigosQueHasAdivinado.forEach(function(element) { %>
                    <section class="respuestas">
                        <img class="fotoSolicitud" src="">
                        <span><%= element.idUsuario %></span>
                        <% if(element.acertada==true) {%>
                            <span class="acierto">Has acertado!</span>
                        <%} else if(element.acertada==false) {%>
                            <span class="fallo">Has fallado!</span>
                            <%}%>
                    </section>
            <% }); %>
            </div>
            <br>
            ¡Añade tus preguntas!

            <a href="/question/create">Crear nueva pregunta</a>
        </div>


        </div>

    </main>
</body>

</html>